@{
    ViewBag.Title = "Dashboard";
}


<div class="row">
    <div class="col-lg-12">
        <section class="panel">

            <div class="panel-body">

                <h1>DASHBOARD</h1>
                
            </div>
        </section>
    </div>
</div>
<!-- page end-->